In [85]:
import sklearn 
from sklearn.linear_model import LogisticRegression
import pandas as pd 
import numpy as np
from statsmodels.tsa.arima_model import ARMA
import datetime

# Load CSVs

In [86]:
regular_season_results = pd.read_csv("../ncaa_data/RegularSeasonDetailedResults.csv")
tourney_results = pd.read_csv("../ncaa_data/NCAATourneyDetailedResults.csv")
results = pd.concat([regular_season_results, tourney_results])

In [87]:
seasons = pd.read_csv("../ncaa_data/Seasons.csv")
seasons = seasons[["Season","DayZero"]]
results = results.set_index("Season").join(seasons.set_index("Season"), how="inner", rsuffix="season").reset_index()

# Build Team/Season Features

In [88]:
winning_results = results[['Season', 'DayNum','DayZero', 'WTeamID', 'WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
losing_results = results[['Season', 'DayNum','DayZero', 'LTeamID', 'LScore', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
winning_results.columns = ['Season', 'DayNum','DayZero', 'TeamID', 'Score','FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
'Ast', 'TO', 'Stl', 'Blk', 'PF']
losing_results.columns = ['Season', 'DayNum','DayZero', 'TeamID', 'Score', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
'Ast', 'TO', 'Stl', 'Blk', 'PF']
team_df = pd.concat([winning_results, losing_results]).sort_values(["Season","DayNum"]).set_index("DayNum").groupby(["Season","TeamID"]).apply(lambda x: x.reindex(range(0,150), method='ffill'))

# Bring in Massey Ordinals

In [89]:
massey = pd.read_csv("../ncaa_data/MasseyOrdinals.csv")
massey = massey.rename(columns={"RankingDayNum":"DayNum"})
massey = massey.pivot_table(index=["Season","TeamID","DayNum"], columns="SystemName", values="OrdinalRank")
massey = massey.fillna(method="ffill")

In [90]:
team_df = team_df.join(massey, how="inner")

# Clean Up and Make Some Columns MA

In [91]:
team_df = team_df.drop(["TeamID","Season"], axis=1)
deltas = team_df.reset_index()["DayNum"].apply(lambda x: datetime.timedelta(days=x))
team_df["date"] = pd.to_datetime(team_df["DayZero"]) + deltas.values

In [92]:
team_df.columns

Index(['DayZero', 'Score', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR',
       'DR',
       ...
       'USA', 'WIL', 'WLK', 'WMR', 'WOB', 'WOL', 'WTE', 'YAG', 'ZAM', 'date'],
      dtype='object', length=175)

In [ ]:
ma_columnns =

In [35]:
team_df = team_df.reset_index().set_index("date").groupby(["Season","TeamID"]).apply(lambda x: x.rolling(window=10).mean())

# Pickle Team DF

In [36]:
team_df.to_pickle("../ncaa_data/team_df.p")

In [40]:
results.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'DayZero'],
      dtype='object')

# Build Game DF

In [79]:
games = results[["WTeamID","LTeamID","Season","DayNum","WLoc","DayZero"]]

In [80]:
games["Team1"] = games[["WTeamID","LTeamID"]].min(axis=1)
games["Team2"] = games[["WTeamID","LTeamID"]].max(axis=1)
# games["Team1Home"] = (games["WLoc"]=="H") & (games["WTeamID"] == games["Team1"])
# games["Team2Home"] = (games["WLoc"]=="H") & (games["WTeamID"] == games["Team2"])

/home/cody/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/cody/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [81]:
games = games.drop(["WTeamID","LTeamID","WLoc","DayZero"], axis=1)
games.set_index(["Season","DayNum"])

               Team1  Team2
Season DayNum
2003   10       1104   1328
       10       1272   1393
       11       1266   1437
       11       1296   1457
       11       1208   1400
       11       1186   1458
       12       1161   1236
       12       1186   1457
       12       1156   1194
       12       1296   1458
       13       1166   1426
       13       1106   1202
       13       1135   1237
       13       1125   1323
       14       1125   1135
       14       1156   1236
       14       1161   1194
       14       1166   1202
       14       1129   1183
       14       1314   1336
       14       1237   1323
       14       1162   1353
       14       1131   1390
       14       1106   1426
       14       1389   1462
       15       1156   1161
       15       1194   1236
       15       1196   1256
       15       1221   1242
       15       1422   1447
...              ...    ...
2017   138      1139   1292
       138      1196   1438
       138      1211   1321
       138      1235   1345
       138      1323   1452
       138      1437   1458
       138      1199   1462
       139      1124   1425
       139      1242   1277
       139      1246   1455
       139      1257   1276
       139      1116   1314
       139      1332   1348
       139      1181   1376
       139      1153   1417
       143      1211   1452
       143      1242   1345
       143      1276   1332
       143      1112   1462
       144      1196   1458
       144      1246   1417
       144      1139   1314
       144      1124   1376
       145      1211   1462
       145      1242   1332
       146      1246   1314
       146      1196   1376
       152      1211   1376
       152      1314   1332
       154      1211   1314

[77617 rows x 2 columns]

In [84]:
team_df

,Season,TeamID,DayNum,DayZero,Score,FGM,FGA,FGM3,FGA3,FTM,...,UPS,USA,WIL,WLK,WMR,WOB,WOL,WTE,YAG,ZAM
date,,,,,,,,,,,,,,,,,,,,,
2002-12-09,NaN,NaN,NaN,11/4/2002,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-11,NaN,NaN,NaN,11/4/2002,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-16,NaN,NaN,NaN,11/4/2002,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-17,NaN,NaN,NaN,11/4/2002,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-18,NaN,NaN,NaN,11/4/2002,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-23,NaN,NaN,NaN,11/4/2002,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-25,NaN,NaN,NaN,11/4/2002,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-30,NaN,NaN,NaN,11/4/2002,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-31,NaN,NaN,NaN,11/4/2002,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-01,2003.0,1102.0,47.2,11/4/2002,70.2,22.9,42.4,11.4,24.6,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-05,2003.0,1102.0,49.9,11/4/2002,68.8,22.6,42.8,10.7,24.1,12.9,...,NaN,NaN,NaN,88.0,NaN,143.8,NaN,NaN,NaN,NaN
2003-01-06,2003.0,1102.0,52.5,11/4/2002,65.9,21.8,42.0,10.1,23.6,12.2,...,NaN,NaN,NaN,89.8,NaN,146.6,NaN,NaN,NaN,NaN
2003-01-07,2003.0,1102.0,54.7,11/4/2002,63.0,21.0,41.2,9.5,23.1,11.5,...,NaN,NaN,NaN,91.6,NaN,149.4,NaN,NaN,NaN,NaN
2003-01-08,2003.0,1102.0,56.9,11/4/2002,60.1,20.2,40.4,8.9,22.6,10.8,...,NaN,NaN,NaN,92.9,NaN,149.2,NaN,NaN,NaN,NaN
2003-01-12,2003.0,1102.0,59.4,11/4/2002,56.4,19.1,40.2,8.4,22.9,9.8,...,NaN,NaN,NaN,99.3,NaN,152.9,NaN,NaN,NaN,NaN
2003-01-13,2003.0,1102.0,61.5,11/4/2002,56.8,19.0,39.6,8.3,22.8,10.5,...,NaN,NaN,NaN,105.7,NaN,156.6,NaN,NaN,NaN,NaN
2003-01-14,2003.0,1102.0,63.5,11/4/2002,57.2,18.9,39.0,8.2,22.7,11.2,...,NaN,NaN,NaN,114.4,NaN,156.9,NaN,NaN,NaN,NaN
2003-01-15,2003.0,1102.0,65.1,11/4/2002,55.7,18.3,38.5,7.8,22.7,11.3,...,NaN,NaN,NaN,123.1,NaN,157.2,NaN,NaN,NaN,NaN
2003-01-19,2003.0,1102.0,67.0,11/4/2002,54.3,18.0,38.9,7.5,22.5,10.8,...,NaN,NaN,NaN,124.9,NaN,155.8,NaN,NaN,NaN,NaN
2003-01-20,2003.0,1102.0,68.9,11/4/2002,50.9,16.9,38.3,6.4,21.6,10.7,...,NaN,NaN,NaN,126.7,NaN,154.4,NaN,NaN,NaN,NaN
2003-01-22,2003.0,1102.0,70.6,11/4/2002,49.7,16.4,37.1,6.4,21.2,10.5,...,NaN,NaN,NaN,128.6,NaN,153.6,NaN,NaN,NaN,NaN
2003-01-26,2003.0,1102.0,72.6,11/4/2002,51.6,16.8,37.9,6.5,21.3,11.5,...,NaN,NaN,NaN,130.5,NaN,152.8,NaN,NaN,NaN,NaN
2003-01-27,2003.0,1102.0,74.6,11/4/2002,53.5,17.2,38.7,6.6,21.4,12.5,...,NaN,NaN,NaN,132.4,NaN,152.0,150.8,NaN,NaN,NaN
2003-01-28,2003.0,1102.0,76.6,11/4/2002,55.4,17.6,39.5,6.7,21.5,13.5,...,NaN,NaN,NaN,133.7,NaN,152.2,151.3,NaN,NaN,NaN
2003-01-29,2003.0,1102.0,78.3,11/4/2002,58.1,18.3,39.7,6.7,20.8,14.8,...,NaN,NaN,NaN,135.0,NaN,152.4,151.8,NaN,NaN,NaN
2003-02-02,2003.0,1102.0,80.3,11/4/2002,56.8,18.1,39.2,6.2,19.5,14.4,...,NaN,NaN,NaN,136.3,NaN,152.6,152.3,NaN,NaN,NaN
2003-02-03,2003.0,1102.0,82.3,11/4/2002,55.3,17.7,40.4,6.0,20.2,13.9,...,NaN,NaN,NaN,135.3,NaN,151.2,151.7,NaN,NaN,NaN
2003-02-05,2003.0,1102.0,84.4,11/4/2002,53.8,17.3,41.6,5.8,20.9,13.4,...,NaN,NaN,NaN,134.8,NaN,150.1,150.7,NaN,NaN,NaN
2003-02-10,2003.0,1102.0,86.6,11/4/2002,54.8,17.6,41.4,5.7,21.0,13.9,...,NaN,NaN,NaN,134.3,NaN,149.0,149.7,NaN,NaN,NaN
2003-02-11,2003.0,1102.0,88.8,11/4/2002,56.3,18.1,42.6,5.9,22.0,14.2,...,NaN,NaN,NaN,135.4,NaN,149.8,150.6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-28,NaN,NaN,NaN,10/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,NaN,NaN,NaN,10/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-11,NaN,NaN,NaN,10/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-18,2017.0,1463.0,47.5,10/31/2016,78.8,27.4,59.0,9.1,22.7,14.9,...,193.0,25.0,90.4,76.4,244.0,39.0,89.0,271.0,37.0,39.0
2017-01-25,2017.0,1463.0,54.5,10/31/2016,76.5,26.9,57.5,8.8,22.8,13.9,...,193.0,25.0,94.6,83.0,244.0,39.0,96.6,271.0,37.0,39.0
2017-02-01,2017.0,1463.0,61.5,10/31/2016,78.0,26.7,55.3,8.2,21.7,16.4,...,193.0,25.0,98.1,89.5,244.0,48.3,103.4,271.0,37.0,39.0
2017-02-08,2017.0,1463.0,68.5,10/31/2016,78.8,26.5,55.6,7.8,21.0,18.0,...,193.0,25.0,100.2,95.8,244.0,56.6,109.6,271.0,37.0,39.0
2017-02-15,2017.0,1463.0,75.5,10/31/2016,79.6,26.8,55.4,7.0,19.7,19.0,...,193.0,25.0,101.3,102.9,244.0,65.5,109.4,271.0,37.0,49.8
2017-02-22,2017.0,1463.0,82.5,10/31/2016,76.1,25.4,55.5,6.2,19.8,19.1,...,193.0,25.0,104.5,107.3,244.0,76.6,113.4,271.0,37.0,63.5
2017-03-01,2017.0,1463.0,89.5,10/31/2016,77.0,25.3,55.4,5.9,19.3,20.5,...,193.0,25.0,108.8,114.1,244.0,88.5,117.6,271.0,37.0,77.9
2017-03-08,2017.0,1463.0,96.5,10/31/2016,76.8,25.0,54.1,6.0,19.7,20.8,...,193.0,25.0,112.5,118.1,244.0,99.3,120.7,271.0,37.0,90.8
2017-03-13,2017.0,1463.0,103.3,10/31/2016,73.9,24.5,54.0,5.9,19.9,19.0,...,193.0,25.0,116.5,121.6,244.0,110.2,122.2,271.0,48.3,104.1
2016-11-16,NaN,NaN,NaN,10/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-11-23,NaN,NaN,NaN,10/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-11-30,NaN,NaN,NaN,10/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-07,NaN,NaN,NaN,10/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-14,NaN,NaN,NaN,10/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-21,NaN,NaN,NaN,10/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-28,NaN,NaN,NaN,10/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,NaN,NaN,NaN,10/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-11,NaN,NaN,NaN,10/31/2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-18,2017.0,1464.0,47.5,10/31/2016,71.7,26.3,64.7,7.4,23.4,11.7,...,193.0,25.0,262.2,221.9,244.0,148.0,194.5,271.0,150.0,172.0
2017-01-25,2017.0,1464.0,54.5,10/31/2016,70.4,25.5,63.4,7.9,24.1,11.5,...,193.0,25.0,266.8,237.8,244.0,148.0,206.6,271.0,150.0,172.0
2017-02-01,2017.0,1464.0,61.5,10/31/2016,69.3,25.6,63.0,7.5,23.3,10.6,...,193.0,25.0,267.0,253.5,244.0,158.1,218.7,271.0,150.0,172.0
2017-02-08,2017.0,1464.0,68.5,10/31/2016,69.8,26.0,64.8,7.4,24.0,10.4,...,193.0,25.0,267.7,270.2,244.0,169.3,233.0,271.0,150.0,172.0
2017-02-15,2017.0,1464.0,75.5,10/31/2016,71.3,26.3,65.3,7.6,24.2,11.1,...,193.0,25.0,268.9,286.7,244.0,181.6,242.1,271.0,150.0,185.3
2017-02-22,2017.0,1464.0,82.5,10/31/2016,68.4,25.3,64.4,7.0,23.6,10.8,...,193.0,25.0,268.5,288.2,244.0,193.3,245.8,271.0,150.0,197.6
2017-03-01,2017.0,1464.0,89.5,10/31/2016,69.9,26.2,63.5,7.2,23.7,10.3,...,193.0,25.0,268.7,291.3,244.0,205.2,250.9,271.0,150.0,210.6
2017-03-08,2017.0,1464.0,96.5,10/31/2016,73.3,27.8,63.8,7.8,23.4,9.9,...,193.0,25.0,268.3,292.9,244.0,215.8,255.1,271.0,150.0,221.6
2017-03-13,2017.0,1464.0,103.3,10/31/2016,73.0,27.6,63.2,7.8,22.5,10.0,...,193.0,25.0,267.7,293.9,244.0,226.5,257.3,271.0,163.5,232.7

In [82]:
games.join(team_df.set_index(["Season","DayNum","TeamID"]))

TypeError: Cannot compare type 'Timestamp' with type 'int'

# Build Model Inputs

In [131]:
y = results[["WTeamID","LTeamID","Season"]]
y["Team1Wins"] = [1] * y.shape[0]
y2 = y.copy()
tmp = y2["LTeamID"]
y2["LTeamID"] = y2["WTeamID"]
y2["WTeamID"] = tmp
y2["Team1Wins"] = [0] * y2.shape[0]
y = pd.concat([y,y2])

/home/cody/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [132]:
full_df = y.join(grouped, rsuffix="W", on=["WTeamID","Season"])
full_df = full_df.join(grouped, rsuffix="L", on=["LTeamID","Season"])

In [133]:
for column in ['Score','NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
'Ast', 'TO', 'Stl', 'Blk', 'PF']:
        full_df["DIFF"+column] = full_df[column] -  full_df[column + "L"]

In [134]:
x = full_df.drop(["WTeamID","LTeamID","Team1Wins"], axis=1)
x_train = x[x["Season"] != 2014]
y_train = y[y["Season"] != 2014]
x_test = x[x["Season"] == 2014]
y_test = y[y["Season"] == 2014]

# Fit Model

In [137]:
model = LogisticRegression()
model.fit(x_train, y_train["Team1Wins"])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

# Predict All Match Ups

In [545]:
pairs_to_predict = pd.read_csv("../ncaa_data/SampleSubmissionStage1.csv")["ID"].str.split("_")
seasons = pairs_to_predict.apply(lambda x: int(x[0]))
team1 = pairs_to_predict.apply(lambda x: int(x[1]))
team2 = pairs_to_predict.apply(lambda x:int(x[2]))

In [546]:
tourney_matchups = pd.DataFrame()
tourney_matchups["team1"] = team1
tourney_matchups["team2"] = team2
tourney_matchups["season"] = seasons

In [547]:
tourney_matchups.shape

(9112, 3)

In [548]:
tourney_matchups = pd.merge(team_df.reset_index(), tourney_matchups, how="inner", left_on=["TeamID","Season"], right_on=["team1","season"], suffixes=("","1"))
tourney_matchups =  pd.merge(team_df.reset_index(), tourney_matchups, how="inner", left_on=["TeamID","Season"], right_on=["team2","season"], suffixes=("","2"))

In [549]:
tourney_matchups = tourney_matchups.drop(["TeamID","TeamID2","Season2","season"],axis=1)
tourney_matchups = tourney_matchups.set_index(["team1","team2"])

In [550]:
for column in ['Score','NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
'Ast', 'TO', 'Stl', 'Blk', 'PF']:
        tourney_matchups["DIFF"+column] = tourney_matchups[column] -  tourney_matchups[column + "2"]

In [551]:
# all_matchups=  all_matchups.set_index(["TeamID","TeamID2"])
# all_matchups = all_matchups.drop(["Season2"], axis=1)

In [552]:
predicted = [pred[0] for pred in model.predict_proba(tourney_matchups)]

In [553]:
# tourney_matchups=  tourney_matchups.reset_index().set_index(["team1","team2", "Season"])

In [554]:
# all_matchups = all_matchups.reset_index()
# all_matchups = all_matchups[all_matchups["TeamID"] < all_matchups["TeamID2"]]

In [555]:
tourney_matchups = tourney_matchups.reset_index()

In [556]:
csv_file = open("submission.csv", "w+")
team_ids = list(tourney_matchups["team1"])
team_ids2 = list(tourney_matchups["team2"])
seasons = list(tourney_matchups["Season"])
csv_file.write("ID,Pred\n")
for i in range(len(tourney_matchups["Season"])):
    csv_string = str(seasons[i]) + "_" + str(team_ids[i]) + "_" + str(team_ids2[i])  + "," + str(predicted[i]) + "\n"
    csv_file.write(csv_string)

In [557]:
csv_file.close()