In [1]:
import sklearn 
from sklearn.linear_model import LogisticRegression
import pandas as pd 
import numpy as np
from statsmodels.tsa.arima_model import ARMA
import datetime

/home/cody/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

# Load CSVs

In [2]:
regular_season_results = pd.read_csv("../ncaa_data/RegularSeasonDetailedResults.csv")
tourney_results = pd.read_csv("../ncaa_data/NCAATourneyDetailedResults.csv")
results = pd.concat([regular_season_results, tourney_results])

In [3]:
seasons = pd.read_csv("../ncaa_data/Seasons.csv")
seasons = seasons[["Season","DayZero"]]
results = results.set_index("Season").join(seasons.set_index("Season"), how="inner", rsuffix="season").reset_index()

# Build Team/Season Features

In [4]:
winning_results = results[['Season', 'DayNum','DayZero', 'WTeamID', 'WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
losing_results = results[['Season', 'DayNum','DayZero', 'LTeamID', 'LScore', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
winning_results.columns = ['Season', 'DayNum','DayZero', 'TeamID', 'Score','FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
'Ast', 'TO', 'Stl', 'Blk', 'PF']
losing_results.columns = ['Season', 'DayNum','DayZero', 'TeamID', 'Score', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR',
'Ast', 'TO', 'Stl', 'Blk', 'PF']
team_df = pd.concat([winning_results, losing_results]).sort_values(["Season","DayNum"]).set_index("DayNum").groupby(["Season","TeamID"]).apply(lambda x: x.reindex(range(0,150), method='ffill'))

# Bring in Massey Ordinals

In [5]:
massey = pd.read_csv("../ncaa_data/MasseyOrdinals.csv")
massey = massey.rename(columns={"RankingDayNum":"DayNum"})
massey = massey.pivot_table(index=["Season","TeamID","DayNum"], columns="SystemName", values="OrdinalRank")
massey = massey.fillna(method="ffill")
massey = massey.drop("DC2", axis=1)

In [6]:
team_df = team_df.join(massey, how="left")

# Clean Up and Make Some Columns MA

In [7]:
team_df = team_df.drop(["TeamID","Season"], axis=1)
deltas = team_df.reset_index()["DayNum"].apply(lambda x: datetime.timedelta(days=x))
team_df["date"] = pd.to_datetime(team_df["DayZero"]) + deltas.values

In [8]:
exclude = ["date","DayZero","Score","DayNum","Season"]
ma_columns = team_df.columns.tolist()
ma_columns = [item for item in ma_columns if item not in exclude]

In [9]:
ma_data = team_df.groupby(["Season","TeamID"])[ma_columns].apply(lambda x: x.rolling(window=10, min_periods=1).mean())

In [10]:
team_df[ma_columns] = ma_data

# Pickle Team DF

In [11]:
team_df.to_pickle("../ncaa_data/team_df.p")

# Build Game DF

In [12]:
games = results[["WTeamID","LTeamID","Season","DayNum","WLoc","DayZero","WScore","LScore"]]

In [13]:
games["Team1"] = games[["WTeamID","LTeamID"]].min(axis=1)
games["Team2"] = games[["WTeamID","LTeamID"]].max(axis=1)

/home/cody/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/cody/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [14]:
games["Team1Score"] = 0
games["Team2Score"] = 0
games["Team1"] = games[["WTeamID","LTeamID"]].min(axis=1)
games["Team2"] = games[["WTeamID","LTeamID"]].max(axis=1)
games.loc[games["WTeamID"] == games["Team1"],"Team1Score"] = games["WScore"]
games.loc[games["WTeamID"] != games["Team1"],"Team1Score"] = games[games["WTeamID"] != games["Team1"]]["LScore"]
games.loc[games["WTeamID"] == games["Team2"],"Team2Score"] = games["WScore"]
games.loc[games["WTeamID"] != games["Team2"],"Team2Score"] = games["LScore"]
# games["ScoreDiff"] = 
# games["Team1Home"] = (games["WLoc"]=="H") & (games["WTeamID"] == games["Team1"])
# games["Team2Home"] = (games["WLoc"]=="H") & (games["WTeamID"] == games["Team2"])

/home/cody/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/cody/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/cody/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/cody/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/cody/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [15]:
games = games.drop(["WTeamID","LTeamID","WLoc","DayZero"], axis=1)

# Increment the dayNum so that we only use results up through the day previous to the game

In [16]:
incremented = team_df.reset_index()
incremented["DayNum"] = incremented["DayNum"] + 1
incremented = incremented.set_index(["Season","TeamID","DayNum"])
full_df = games.join(incremented, on=["Season", "Team1","DayNum"], how="right").join(incremented, on=["Season", "Team2","DayNum"], rsuffix="2", how="inner")

In [31]:
games.shape

(77617, 8)

# Add Some Diff Columns

In [17]:
for column in ma_columns:
    try:
        full_df[column + "diff"] = full_df[column] - full_df[str(column +"2")]
    except Exception as e:
        print(e)

In [18]:
full_df.to_pickle("../ncaa_data/full_df.p")

# Match Ups to Predict

In [19]:
pairs_to_predict = pd.read_csv("../ncaa_data/SampleSubmissionStage1.csv")["ID"].str.split("_")
seasons = pairs_to_predict.apply(lambda x: int(x[0]))
team1 = pairs_to_predict.apply(lambda x: int(x[1]))
team2 = pairs_to_predict.apply(lambda x:int(x[2]))

In [20]:
tourney_matchups = pd.DataFrame()
tourney_matchups["team1"] = team1
tourney_matchups["team2"] = team2
tourney_matchups["season"] = seasons

In [28]:
full_df.shape

(77570, 527)

In [21]:
tourney_matchups

      team1  team2  season
0      1107   1110    2014
1      1107   1112    2014
2      1107   1113    2014
3      1107   1124    2014
4      1107   1140    2014
5      1107   1142    2014
6      1107   1153    2014
7      1107   1157    2014
8      1107   1160    2014
9      1107   1163    2014
10     1107   1166    2014
11     1107   1173    2014
12     1107   1174    2014
13     1107   1181    2014
14     1107   1184    2014
15     1107   1196    2014
16     1107   1203    2014
17     1107   1211    2014
18     1107   1217    2014
19     1107   1234    2014
20     1107   1235    2014
21     1107   1242    2014
22     1107   1243    2014
23     1107   1246    2014
24     1107   1257    2014
25     1107   1264    2014
26     1107   1269    2014
27     1107   1272    2014
28     1107   1273    2014
29     1107   1276    2014
...     ...    ...     ...
9082   1437   1458    2017
9083   1437   1462    2017
9084   1438   1439    2017
9085   1438   1448    2017
9086   1438   1452    2017
9087   1438   1455    2017
9088   1438   1457    2017
9089   1438   1458    2017
9090   1438   1462    2017
9091   1439   1448    2017
9092   1439   1452    2017
9093   1439   1455    2017
9094   1439   1457    2017
9095   1439   1458    2017
9096   1439   1462    2017
9097   1448   1452    2017
9098   1448   1455    2017
9099   1448   1457    2017
9100   1448   1458    2017
9101   1448   1462    2017
9102   1452   1455    2017
9103   1452   1457    2017
9104   1452   1458    2017
9105   1452   1462    2017
9106   1455   1457    2017
9107   1455   1458    2017
9108   1455   1462    2017
9109   1457   1458    2017
9110   1457   1462    2017
9111   1458   1462    2017

[9112 rows x 3 columns]

In [557]:
csv_file.close()

In [49]:
full_df[full_df["DayNum"]==145]

,Season,DayNum,WScore,LScore,Team1,Team2,Team1Score,Team2Score,DayZero,Score,...,UPSdiff,USAdiff,WILdiff,WLKdiff,WMRdiff,WOBdiff,WOLdiff,WTEdiff,YAGdiff,ZAMdiff
4673,2003,145,78,75,1112,1242,75,78,11/4/2002,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4674,2003,145,83,69,1246,1266,69,83,11/4/2002,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9308,2004,145,87,71,1104,1163,71,87,11/3/2003,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9309,2004,145,64,62,1329,1386,64,62,11/3/2003,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14047,2005,145,90,89,1112,1228,89,90,11/1/2004,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14048,2005,145,93,85,1257,1452,93,85,11/1/2004,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18868,2006,145,70,60,1261,1400,70,60,10/31/2005,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18869,2006,145,50,45,1272,1417,45,50,10/31/2005,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23975,2007,145,92,76,1272,1326,76,92,10/30/2006,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23976,2007,145,68,55,1242,1417,55,68,10/30/2006,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29202,2008,145,83,73,1257,1314,73,83,11/5/2007,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29203,2008,145,76,57,1417,1462,76,57,11/5/2007,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34515,2009,145,82,75,1163,1281,82,75,11/3/2008,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34516,2009,145,78,76,1338,1437,76,78,11/3/2008,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39842,2010,145,63,56,1139,1243,63,56,11/2/2009,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39843,2010,145,73,66,1246,1452,66,73,11/2/2009,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45155,2011,145,74,71,1139,1196,74,71,11/1/2010,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45156,2011,145,65,63,1112,1163,63,65,11/1/2010,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50475,2012,145,72,68,1196,1257,68,72,10/31/2011,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50476,2012,145,77,70,1326,1393,77,70,10/31/2011,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55862,2013,145,55,39,1266,1393,39,55,11/5/2012,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55863,2013,145,70,66,1326,1455,66,70,11/5/2012,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61291,2014,145,62,52,1173,1196,52,62,11/4/2013,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61292,2014,145,64,63,1112,1458,63,64,11/4/2013,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66712,2015,145,68,66,1246,1323,68,66,11/3/2014,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66713,2015,145,85,78,1112,1458,78,85,11/3/2014,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72148,2016,145,80,68,1328,1332,80,68,11/2/2015,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72149,2016,145,64,59,1242,1437,59,64,11/2/2015,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77610,2017,145,83,59,1211,1462,83,59,10/31/2016,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77611,2017,145,74,60,1242,1332,60,74,10/31/2016,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN